{% extends 'main.html'%}
{% load static %}

{% block content %}
<div class="contenedor-nosotros"   >
 
    <div class="contenedor-trasnparente">
        <div>
            <h1> Nosotros</h1>
        </div>
        
    </div>
    <div class="nosotros-contenedor-mision"> 
        <div>
            <img src="{% static 'imagenes/La_Tierra.jpg' %}" class="nosotros_planta" alt="">
        </div>
        <div class="ilustracion-mision">
            <div>
                <br>
                <h2>¿QUE HACEMOS?</h2>
                <span>
                  <p align="left"> En COOPRESOL gestionamos los desechos para transformarlos, monetizarlos y devolverlos en servicios financieros a
                  través de una Cooperativa de Ahorros, Créditos y Servicios Múltiples.
                </p>
                </span>
                <br>
                <br>
                <h2>¿QUE SOMOS?</h2>
                <span>
                  <p align="left"> Somos La Cooperativa de Ahorro, Crédito y Servicios Múltiples de Residuos Solidarios, sociedad de personas naturales y jurídicas 
                  sin fines de lucro regida bajo la ley No.127/64.
                </p>
                </span>
                <br>
                <br>
               
            </div>
            
        </div>
        
    </div>

    <div class="nosotros-contenedor-mision"> 
        
        <div class="ilustracion-mision">
            <div>
                <br>
                <h2>MOTIVACION</h2>
                <span>
                  <p align="left"> Cambiar el modelo de gestión de desechos actual de recolectar y desaprovechar la separación de los residuos sólidos e depositarlos en vertederos a cielo abierto, por otro que nos permita aprovecharlos colaborativamente con el menor impacto ambiental.</p>
                    <br>
                    <p align="left"> cambiar el patrón de consumo desmedido por otro más consciente y amigable que nos permita reducir, reutilizar y reciclar.</p>
                </span>
                <h2>¿EN QUE CREEMOS?</h2>
                <span>
                  <p align="left">Qué hacer el bien, nos hace bien y hacerlo bien, construye prosperidad para todos.
                    Estamos divinamente destinados a construir y no a destruir, ya que somos imagen y semejanza de Dios, por tal motivo, podemos transformar los residuos en un recurso para ejercer solidaridad y construir prosperidad.</p>
                </span>

                <br>
                <br>    
            </div>
        </div>
        <div>
            <img src="{% static 'imagenes/noah-buscher-x8ZStukS2PM-unsplash.jpg' %}"  class="nosotros_planta" alt="">
        </div>
    </div>

    <div class="nosotros-contenedor-objetivo"> 
       


        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <h1>Objetivos</h1>

              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
<!--  -->

<ol class="gradient-list">
            
  <li>
      <div class="card">
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>
                  Cambiar el actual modelo de manejo de Residuos Sólidos Urbanos (RSU) por otro que permita
                   aprovecharlos desde la fuente donde se genera hasta su transformación en materia prima, por medio
                  de la asociación cooperativista de todos los actores involucrados.
              </p>
            </blockquote>
          </div>
        </div>
  </li>
  <hr>
  <li>
      <div class="card">
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>
                  Despertar la Solidaridad Ciudadana al contribuir con la correcta disposición de sus 
                  residuos, de manera que puedan ser donados a quienes viven de la recolección y manejo de los mismos.
              </p>
            </blockquote>
          </div>
        </div>
  </li>
  <hr>
  <li>
      <div class="card">
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>
                  Servir de medio colaborativo en el ejercicio de Responsabilidad Social de los Sectores Productivos.
              </p>
            </blockquote>
          </div>
        </div>
  </li>
  <hr>
  <li>
      <div class="card">
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>
                  Devolver los beneficios derivados del aprovechamiento de los RSU a todos los generadores a través
                  de una EMPRESA COOPERATIVA
              </p>
            </blockquote>
          </div>
        </div>
      
  </li>
  <hr>
  <li>
      <div class="card">
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>
                  Enlazar estratégicamente los actores involucrados en el negocio, sean estos:
                  generadores (residencial, comercial e industrial), recolectores (buzos), empresas de acopio y reciclaje.
              </p>
            </blockquote>
          </div>
        </div>
      
  </li>
  <hr>
  <li>
      <div class="card">
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>
                  Promover la integración de las comunidades y el emprendimiento basado en economía circular a través de prácticas
                  tales como: artesanías y artefactos con materiales reciclados, jardinería, agricultura urbana.                        </p>
            </blockquote>
          </div>
        </div>
      
  </li>
  <hr>
  <li>
      <div class="card">
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>
                  Pactar Alianzas Comerciales con Empresas del Sector Privado que demanden materia prima que nosotros 
                  produzcamos, sea en el ámbito industrial o del reciclaje, de manera que nos apalanquemos en inversiones
                  del sector privado para maximizar los excedentes de la Cooperativa.
              </p>
            </blockquote>
          </div>
        </div>
      
  </li>
  <hr>
  <li>
      <div class="card">
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>
                  Pactar Alianzas Estratégicas con Ong´s, Asociaciones, Juntas de Vecinos que trabajen, promuevan
                  la cultura y el manejo de los RSU en las distintas demarcaciones de la nación.                        </p>
            </blockquote>
          </div>
        </div>
      
  </li>
  <hr>
  <li>
      <div class="card">
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>
                  Ser propulsores de una educación integral u holística, basada en principios de conciencia 
                  universal y valores cristianos, aliados a movimientos, fundaciones y asociaciones que
                  promuevan el bienestar social con ideales afines.                        </p>
            </blockquote>
          </div>
        </div>
     
  </li>
  <hr>
  <li>
      <div class="card">
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>
                  Producir y Comercializar productos y servicios generados por las Unidades Técnicas
                  Profesionales, sean estos: manejo de residuos, tratamiento de aguas residuales, adecuación
                  arquitectónica de edificaciones, soluciones energéticas, producción agrícola, así como representación 
                  de tecnologías o productos a partir de materiales reciclados y que ayuden a tal finalidad.                        </p>
            </blockquote>
          </div>
        </div>
      
  </li>
  
</ol>

<!--  -->


              </div>
            </div>
          </div>
        </div>

        
       
    </div>


    <div class="misionvalor">
      <div class="card text-white bg-primary mb-3"  id="misionvalorcard">
        <div class="card-header">
            <h5 class="card-title">NUESTRA MISION</h5>
            <img src="{% static 'imagenes/leadership-freepik-flaticon.png'%}"  width="100px" id="misionvalorimg">

        </div>
        <div class="card-body">
            <p class="card-text" id="misionvalortexto">
                Generar beneficios económicos para sus socios a partir de la transformación de sus Residuos Sólidos y mantener
                la motivación para la separación de los RSU.
            </p>
        </div>
      </div>
      <div class="card text-white bg-success mb-3" id="misionvalorcard">
        <div class="card-header">
            <h5 class="card-title">NUESTRA VISIÓN</h5>
            <img src="{% static 'imagenes/integrity-flaticon-freepik.png'%}"  width="100px" id="misionvalorimg">

        </div>
        <div class="card-body">
          <p class="card-text" id="misionvalortexto">
            Establecernos como la primera institución que genera beneficios económicos a sus socios a
            partir de los residuos y eliminar el concepto de basura, convirtiéndonos en la única opción 
            sustentable económicamente para mantener limpio el ambiente sin necesidad de castigo.
          </p>
        </div>
      </div>
    </div>
    <div class="nosotros-contenedor-valores"> 
        
          
          <div class="card text-white bg-dark mb-3" >
            <div class="card-header">
                <h5 class="card-title">Nuestros Valores</h5>
            </div>
            <div class="card-body">
                <div class="valores">
                  <div class="card"id="card-valores" >
                    <img src="{% static 'imagenes/world.png'%}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">SOLIDARIDAD</h5>
                    </div>
                  </div>
                    
                    <div class="card" id="card-valores" >
                      <img src="{% static 'imagenes/ranger.png'%}" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">CONCIENCIA</h5>
                      </div>
                    </div>
                    <div class="card"id="card-valores" >
                      <img src="{% static 'imagenes/social-responsibility.png'%}" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">RESPONSABILIDAD</h5>
                      </div>
                    </div>
                    <div class="card"id="card-valores" >
                      <img src="{% static 'imagenes/justice-scale.png'%}" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">DEMOCRACIA</h5>
                      </div>
                    </div>
                    <div class="card" id="card-valores">
                      <img src="{% static 'imagenes/crowd.png'%}" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">EQUIDAD</h5>
                      </div>
                    </div>
                   
                  
                </div>
   
                
            </div>
          </div>
           
        
</div>


 
        <div class="contenedor-trasnparente2">
            <h1> PUEDES HACERLO BIEN  </h1>
            <h3>
              Disponer correctamente los residuos es empezar a aprovecharlos, estamos para apoyarte, recibe de nosotros:
            </h3>
              <ol>
                <li>
                  <h5>
                    Incentivos y Beneficios, para que la motivación perdure.

                  </h5>
                </li>
                <li>
                  <h5>
                    Medios y Servicios, para disponer los residuos correctamente.
                  </h5>
                </li>
                <li>
                  <h5>
                    Incentivos y Beneficios, para que la motivación perdure.
                  </h5>
                </li>
              </ol>
              <div class="d-grid gap-2 col-6 mx-auto">
                <a href="/Proyectos"  class="btn btn-primary"> Ver Proyectos</a>
                <a href="/Asociarse"  class="btn btn-primary"> Asóciate</a>
               
              </div>
        </div>
        
  </div>
  {% endblock content%}